/* base start */
html, body {
    min-width: 1200px;
    min-height: 100vh;

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

/* base end */

/* style start */
body.style {
    header {
        width: 100%;

        div.header-img {
            width: 100%;
            background: url("../img/headerBg.jpg") no-repeat center;
            min-height: 300px;

            div.header-login {
                width: 1200px;
                padding-top: 15px;
                margin: 0 auto;
                color: rgb(255, 255, 255);
                display: flex;
                justify-content: flex-end;
                align-items: center;

                div.login-box {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;

                    a {
                        color: white;
                        text-decoration: none;
                    }

                    div.login-grap {
                        width: 1px;
                        height: 16px;
                        background-color: rgb(255, 255, 255);
                        margin: 0 5px;
                    }
                }

                div.login-icon {
                    width: 124px;
                    height: 29px;
                    background: none;
                    border: 1px solid rgb(255, 255, 255);
                    border-radius: 15px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .search {
                    display: flex;
                    align-items: center;
                }

                .search {
                    /* width: 544px; */
                    /* height: 75px; */
                    display: flex;
                    align-items: center;
                    /* background: linear-gradient(105deg, transparent 20px, #7EB9FD 0); */
                }

                .search-box {
                    width: 180px;
                    height: 29px;
                    margin-left: 30px;
                    display: flex;
                    align-items: center;
                    position: relative;
                }

                .search-img {
                    width: 62px;
                    height: 62px;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    background-image: url(../img/search.png);
                    background-size: 62px 62px;
                    background-repeat: no-repeat;
                }

                .input-groups {
                    width: 100%;
                    height: 100%;
                    background: #ffffff;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                }

                .input-groups input {
                    font-size: 12px;
                }

                .input-group-btn {
                    display: flex;
                    align-items: center;
                    /* margin-left: 20px; */
                }

                .input-group-btn img {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                }

                .btn-search {
                    margin-top: -2px;
                    background-color: transparent;
                    color: #EBEBEB;
                }

                .search .form-controls {
                    height: 100%;
                    background: transparent;
                    border: none;
                    color: #000000;
                }

                .form-controls::-webkit-input-placeholder {
                    color: #9A9A9A;
                }

                .search > .search-box > .input-groups > .form-controls {
                    width: 125px;
                    flex: 0.85;
                    margin-left: 15px;
                }

                .search > .search-box > .input-groups > .form-controls:focus {
                    box-shadow: none;
                }

                input {
                    outline: 0px;
                    border: medium;
                    font-family: "微软雅黑 Regular", "Microsoft YaHei", serif;
                }
            }
        }

        nav {
            background: #1860a8;
            height: 60px;
            width: 100%;

            ul {
                height: 100%;
                width: 1200px;
                margin: 0 auto;
                display: flex;
                padding: 0;
                list-style-type: none;

                li {
                    height: 100%;
                    width: 165px;
                    text-align: center;
                    position: relative;

                    a.nav-link {
                        width: 100%;
                        display: inline-block;
                        line-height: 60px;
                        color: rgb(255, 255, 255);
                        padding: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        font-size: 22px;
                        position: absolute;

                        &:hover {
                            background: #1ca8dd;
                        }
                    }

                    .menu-list-title-son {
                        border-top: 2px solid rgb(29, 163, 216);
                        background: #1ca8dd;
                        width: 165px;
                        text-align: center;
                        position: absolute;
                        top: 60px;
                        font-size: 18px;
                        display: none;
                        z-index: 99;
                        transition: display 0.3s ease-in-out;

                        a {
                            content: "";
                            background: #1ca8dd;
                            display: inline-block;
                            color: white;
                            font-size: 18px;
                            width: 165px;
                            height: 40px;
                            line-height: 40px;
                            text-decoration: none;
                            border-bottom: 1px dashed rgb(86, 192, 232);
                        }
                    }
                }
            }
        }
    }
    main{
        ul.info-list{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 20px;
            overflow: hidden;
            padding: 0;
            li{
                width: 100%;
                height: 53px;
                display: flex;
                align-items: center;
                margin: 10px 0;
                cursor: pointer;
                position: relative;
                border-bottom: 1px dashed rgb(193, 193, 193);
                .main-open-li-img {
                    width: 6px;
                    height: 9px;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
                a{
                    display: inline-block;
                    width: 80%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .gray{
                    width: 104px;
                    color: rgb(193, 193, 193);
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
    footer {
        a {
            color: black;

            &:hover {
                color: rgb(0, 86, 179);
            }
        }

        .footer {
            width: 100%;
        }

        .footer1 {
            height: 65px;
            background-color: #C9C9C9;
            display: flex;
            align-items: center;
        }

        .footer1-box {
            width: 1200px;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }

        .footer1-btn {
            width: 190px;
            height: 36px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .footer1-btn-icon {
            position: absolute;
            right: 10px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid #6A6A6A;
        }

        .ksdh ul {
            overflow: hidden;
        }

        .ksdh ul li {
            float: left;
            padding: 25px 18px;
            margin-left: 42px;
        }

        .ksdh ul li a {
            color: #000;
            font-size: 16px;
            display: block;
        }

        .ksdh ul li ul li {
            float: left;
            padding: 10px 0;
        }

        .ksdh select {
            border: none;
            color: #000;
            font-size: 16px;
            background: #fff;
            width: 190px;
            height: 50px;
        }

        .footer2 {
            height: 204px;
            background-color: #185AAE;
            display: flex;
            align-items: center;
        }

        .footer2-box {
            width: 1200px;
            margin: 0 auto;
            color: #ffffff;
            display: flex;
            justify-content: space-between;
        }

        .footer2-left {
            width: 650px;
            height: 144px;
            background-color: #2172C3;
            display: flex;
            align-items: center;
            padding: 0 50px;
        }

        .footer2-left-text {
            width: 185px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1860A8;
            color: #fff;
            margin: 10px 0;
            cursor: pointer;
        }

        .footer2-left-text:hover {
            color: #fff;
        }

        .footer2-left-text a {
            color: #fff;
        }

        .footer2-left-grap {
            height: 50px;
            border-right: 1px dashed #ffffff;
            margin: 0 50px;
        }

        .footer2-left-title {
            margin: 15px 0;
        }

        .footer2-right {
            width: 509px;
            height: 144px;
            padding: 10px 20px;
            background-color: #2172C3;
        }

        .footer-right-text {
            text-align: center;
            font-size: 14px;
        }

        .footer2-right-box {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .footer3 {
            height: 61px;
            background-color: #434343;
            display: flex;
            align-items: center;
        }

        .footer3-box {
            width: 1000px;
            margin: 0 auto;
            color: #ffffff;
            display: flex;
            justify-content: space-between;
        }

    }
}

/* style end */

/* index start */
body.index {
    main {
        width: 100%;
        margin: 0 auto;

        a.main-title {
            width: 970px;
            height: 160px;
            margin: 0px auto;
            font-size: 32px;
            font-weight: bolder;
            color: rgb(37, 73, 136);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: rgb(0, 86, 179);
            }
        }

        div.news-box {
            width: 100%;
            padding: 40px 0;
            background-color: rgb(244, 244, 244);

            div.news {
                width: 1200px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                div.news-left {
                    width: 600px;
                    height: 437px;
                    display: flex;

                    #carousel {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                    }

                    .slides {
                        display: flex;
                        transition: transform 0.5s ease-in-out;
                    }

                    .slide {
                        flex: 0 0 100%;
                        height: 437px; /* Adjust as needed */
                        background-size: cover;
                        transition: transform 0.5s ease-in-out;
                        background-position: center;
                        span.swiper-mark {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 64px;
                            padding-left: 2%;
                            background: rgba(0, 0, 0, 0.6);
                            color: #fff;
                            text-overflow: -o-ellipsis-lastline;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                            padding-top: 12px;
                            font-size: 111.11111%;
                            padding-right: 6em;
                        }
                    }
                }

                div.news-right {
                    width: 572px;
                    height: 437px;
                    display: flex;
                    flex-direction: column;
                    div.topNews-list-title {
                        width: 100%;
                        height: 62px;
                        background-color: rgb(255, 255, 255);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        div.topNews-list-box {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            div.topNews-list-box-tab {
                                position: relative;
                                cursor: pointer;
                                div.topNews-list-title-text {
                                    width: 182px;
                                    height: 62px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 20px;
                                    font-weight: bold;
                                    color: rgb(0, 0, 0);
                                }
                            }
                            .topNews-list-title-solid {
                                width: 0px;
                                height: 0px;
                                position: absolute;
                                left: 76px;
                                bottom: -24px;
                                border-width: 12px;
                                border-top-width: 12px;
                                border-style: solid;
                                border-top-style: solid;
                                border-color: transparent;
                                border-top-color: transparent;
                            }
                            .topNews-list-active > .topNews-list-title-text {
                                background-color: rgb(44, 93, 166);
                                color: rgb(255, 255, 255) !important;
                            }
                            .topNews-list-active > .topNews-list-title-solid {
                                border-top: 12px solid rgb(44, 93, 166);
                            }
                        }

                    }
                }
            }
        }
        div.open{
            width: 1200px;
            height: 400px;
            margin: 40px auto 20px;
            display: flex;
            justify-content: space-between;
            div.open-list {
                width: 640px;
                height: 100%;
                div.open-box {
                    width: 100%;
                    height: 39px;
                    display: flex;
                    justify-content: space-between;
                    background-color: rgb(244, 244, 244);
                    .open-title {
                        width: 126px;
                        height: 39px;
                        background-color: rgb(36, 81, 156);
                        font-size: 22px;
                        color: rgb(255, 255, 255);
                        line-height: 39px;
                        text-align: center;
                    }
                    .open-box-right {
                        line-height: 32px;
                        color: rgb(24, 96, 169);
                        font-size: 35px;
                        margin-right: 10px;
                        font-weight: bold;
                    }
                }
            }
        }
        div.open-card{
            width: 520px;
            height: 100%;
            div.open-tab{
                width: 100%;
                height: 80px;
                margin: 10px 0px 30px;
                display: flex;
                justify-content: space-between;
                a.open-tab-card{
                    width: 240px;
                    height: 85px;
                    border: 2px solid rgb(108, 153, 189);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    div.open-tab-img {
                        width: 28px;
                        height: 28px;
                        display: flex;
                        align-items: center;
                        margin: 0 10px;
                    }
                    div.open-tab-text {
                        color: rgb(0, 56, 103);
                        font-size: 18px;
                        font-weight: bolder;
                        margin: 0px 10px;
                    }
                }
            }
            div.main-open-menu {
                width: 100%;
                height: 280px;
                background-image: url("../img/border.jpg");
                background-repeat: no-repeat;
                background-size: 509px 280px;
                .main-open-menu-title {
                    width: 100%;
                    height: 22px;
                    line-height: 10px;
                    text-align: center;
                    font-size: 22px;
                    color: rgb(36, 81, 156);
                    font-weight: bold;
                }
                .main-open-menu-box {
                    width: 100%;
                    height: calc(100% - 22px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    .main-open-menu-ul {
                        width: 440px;
                        display: flex;
                        justify-content: space-between;
                        margin: 10px 0;
                        .main-open-menu-li {
                            width: 210px;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(211, 232, 249);
                            color: rgb(45, 136, 227);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        div.main-kepu{
            width: 1200px;
            height: 455px;
            margin: 0px auto 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .main-kepu-box {
                width: 325px;
                height: 100%;
                padding: 20px;
                background-color: rgb(24, 90, 174);
                .main-kepu-img {
                    width: 285px;
                    height: 144px;
                    margin: 20px 0px;
                }
                .main-kepu-text {
                    font-size: 18px;
                    font-weight: 400;
                    color: rgb(255, 255, 255);
                    margin-bottom: 25px;
                }
                .main-kepu-content {
                    font-size: 16px;
                    font-weight: 400;
                    color: rgb(255, 255, 255);
                    margin-bottom: 15px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 5;
                    display: -webkit-box;
                    -moz-box-orient: vertical;
                }
                .main-kepu-xq {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    .main-kepu-btn {
                        position: absolute;
                        right: -20px;
                        width: 165px;
                        height: 30px;
                        background-color: rgb(29, 61, 114);
                        color: rgb(255, 255, 255);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/* index end */
