/* base start */
body{
    min-width: 1200px;
}
/* base end */

/* style-index start */
body.index{
    header{
        width: 100%;
        div.header-img{
            width: 100%;
            background: url("../img/headerBg.jpg") no-repeat center;
            min-height: 300px;
        }
        nav{
            background: #1860a8;
            height: 60px;
            width: 100%;
            ul{
                height: 100%;
                width: 1200px;
                margin: 0 auto;
                display: flex;
                padding: 0;
                li{
                    height: 100%;
                    width:calc(100% / 8);
                }
            }
        }
    }
    main{
        width: 1200px;
        margin: 0 auto;
    }
}
/* style-index end */
